/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    overflow: hidden;
}

.view {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.background {
	height: 100%;
	z-index: -1;
}

/* MUSIC & SOUND TOGGLES */
.controls {
    position: fixed;
    height: 50px;
    width: 65px;
    top: 0px;
    right: 10%;
    z-index: 10;
    border-radius: 0 0 4px 4px;
    transition: transform 80ms ease;
    transform: scale(0.4);
    transform-origin: top;
}

.controls:hover {
    transform: scale(1);
}

.controls::before {
    background-color: inherit;
    content: "";
    position: absolute;
    height: 50px;
    width: 30px;
    top: 0px;
    left: -18px;
    z-index: 10;
    transform: skewX(25deg);
    border-radius: 0 0 0 10px;
}

.controls::after {
    background-color: inherit;
    content: "";
    position: absolute;
    height: 50px;
    width: 30px;
    top: 0px;
    right: -18px;
    z-index: 10;
    transform: skewX(-25deg);
    border-radius: 0 0 10px 0;
}

.controls__toggle {
    position:absolute;
    height: 32px;
    width: 32px;
    background-image: url("../img/spritesheet.png");
    top: 9px;
    z-index: 11;
}

.controls__toggle--music {
    background-position-x: -5px;
    background-position-y: -5px;
    left: -3px;
}

.controls__toggle--music:hover {
    background-position-x: -75px;
}

.controls__toggle--sound {
    background-position-x: -40px;
    background-position-y: -5px;
    right: -3px;
}

.controls__toggle--sound:hover {
    background-position-x: -110px;
}

.controls__toggle--off {
    background-position-y: -40px;
}

/* MODAL AND OPENING SPLASH */

.modal--splash {
	height: 66vh;
	width: 66vw;
	max-width: 250px;
	min-width: 185px;
	max-height: 330px;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFEAA0;
	background-image: url(../img/dimension-poke.png);
	border: 3px solid #FF891D;
	border-radius: 15px;
	box-shadow: 0 0 0 2px white, 0 0 7px 0 #222;
}

.ttt-logo {
	position: absolute;
	top: calc(50% - 30px);
	left: 50%;
	height: 130px;
	width: 130px;
	margin: -65px 0 0 -65px;
}

.ttt-logo__element {
	position: absolute;
	height: 130px;
	width: 130px;
	background-size: 666px;
	background-position-y: -25px;
	background-image: url("../img/spritesheet.png");
}

.ttt-logo__element--board {
	background-position-x: -2px;
}

.ttt-logo__element--tic {
	background-position-x: -134px;
}

.ttt-logo__element--tac {
	background-position-x: -266px;
}

.ttt-logo__element--toe {
	background-position-x: -398px;
}

.pokemon-logo {
	display: inline-block;
	position: absolute;
	top: calc(50% + 55px);
	left: 50%;
	width: 180px;
	height: 67px;
	margin: -33px 0 0 -90px;
	background-image: url("../img/spritesheet.png");
	background-size: 941px;
	background-position: -2px -519px;
}

/* OAK DIALOGUE */

.modal__content {
	text-align: center;
}

.modal-text {
	font-family: 'Pathway Gothic One', Helvetica, sans-serif;
}

.char-tall {
	display: inline-block;
	position: absolute;
	top: 50%;
	height: 200px;
	margin-top: -100px;
	right: -10px;
}

.char-tall--oak {
	width: 99px;
	background-image: url("https://preview.c9users.io/dsto/tic-tac-toe/img/spritesheet.png");
	background-size: 1189px;
	background-position: -946px -45px;
}

.modal__content--oak {
	margin: 30px 100px 30px 30px;
}

.modal-text--oak {	
	text-align: center;
	min-width: 160px;
}

/* oak3 */
.name-input {
	display: block;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	box-shadow: 0 0 3px 0px lightgrey;
	width: 130px;
	margin: 0 auto;
}

.button {
	display: block;
	color: white;
	cursor: pointer;
	padding: 5px 20px;
	border-radius: 10px;
	  text-shadow:
   -1px -1px 0 #6EC637,  
    1px -1px 0 #6EC637,
    -1px 1px 0 #6EC637,
     1px 1px 0 #6EC637;
	margin: 15px auto 0 auto;
	box-shadow: 
		0 0 0 1px white,
		1px 1px 0 1px #333;
	font-size: .8em;
}

.button--green {
	background-color: #85F444;
	border: 2px solid #6EC637;
	animation-duration: 20ms;
	animation-iteration-count: 1;
}

/* oak4 */
.button--avatar {
	display: inline-block;
	background-color: #222;
	background-image: url(https://preview.c9users.io/dsto/tic-tac-toe/img/dimension-poke-grey.png);
	padding: 0;
	border-radius: 18px;
	transition: all 50ms ease;
	margin: 2px;
}

.button--avatar:hover {
	background-color: #6EC637;
	background-image: url(https://preview.c9users.io/dsto/tic-tac-toe/img/dimension-poke.png);
}

.button--avatar:hover > .button__avatar {
		transform: scale(1.15);
}

.button__avatar {
	height: 64px;
	width: 96px;
	background-size: 1997px;
	background-image: url(https://preview.c9users.io/dsto/tic-tac-toe/img/spritesheet.png);
	border-radius: 18px;  
	transition: transform 50ms ease;
}

.button__avatar--female {
	background-position: -246px -5px;
}

.button__avatar--male {
	background-position: -145px -5px;
}

/* oak6 */
.pokeball {
	cursor: pointer;
	display: inline-block;
	margin: 9px 13px;
	width: 44px;
	height: 44px;
	padding: 0px;
}

.pokeball__element {
	position: absolute;
	background-image: url(https://preview.c9users.io/dsto/tic-tac-toe/img/spritesheet.png);
	background-size: 666px;
	width: 44px;
	height: 44px;
	margin-top: -22px;
}

.pokeball__ball {	
	background-position: -2px -156px;	
	transition: transform 300ms ease;
	z-index: 1;
}

.pokeball:hover > .pokeball__ball, 
.pokeball:focus > .pokeball__ball, 
.pokeball--focus > .pokeball__ball {
	transform: translateX(-22px) rotate(-1rad);
}

.pokeball:hover > .pokeball__pokemon, 
.pokeball:focus > .pokeball__pokemon, 
.pokeball--focus > .pokeball__pokemon {
	transform: scale(1.2) translateX(7px);
}

.pokeball__pokemon {
	transition: transform 140ms ease 100ms;
	transform-origin: left;
	z-index: 0;
}

.pokeball__pokemon--0 {
	background-position: -46px -156px;
}

.pokeball__pokemon--1 {
	background-position: -223px -156px;
}

.pokeball__pokemon--2 {
	background-position: -401px -156px;
}

/* end Oak dialogue */


/* UTILITY CLASSES */

.u-grey-bg {
    background: #222;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.u-hidden {
    display: none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.u-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.u-visuallyhidden.focusable:active,
.u-visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.u-invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.u-clearfix:before,
.u-clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.u-clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
