/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    overflow: hidden;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.view {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.view--gym {
    background: url(../img/gym.png) no-repeat center bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overworld {
	height: 100%;
	z-index: -1;
}

/* MUSIC & SOUND TOGGLES */
.controls {
    position: fixed;
    width: 50px;
    height: 65px;
    top: 30px;
    right: 0px;
    z-index: 10;
    border-radius: 4px 0 0 4px;
    transition: transform 80ms ease;
    transform: scale(0.4);
    transform-origin: top right;
}

.controls:hover {
    transform: scale(1);
}

.controls::before {
    background-color: inherit;
    content: "";
    position: absolute;
    width: 50px;
    height: 30px;
    left: 0px;
    top: -18px;
    z-index: 10;
    transform: skewY(-25deg);
    border-radius: 10px 0 0 0;
}

.controls::after {
    background-color: inherit;
    content: "";
    position: absolute;
    width: 50px;
    height: 30px;
    right: 0px;
    bottom: -18px;
    z-index: 10;
    transform: skewY(25deg);
    border-radius: 0 0 0 10px;
}

.controls__toggle {
    position:absolute;
    height: 32px;
    width: 32px;
    background-image: url("../img/spritesheet.png");
    left: 9px;
    z-index: 11;
    background-position-y: -5px;
}

.controls__toggle--music {
    background-position-x: -5px;
    top: -3px;
}

.controls__toggle--music:hover {
    background-position-x: -75px;
}

.controls__toggle--sound {
    background-position-x: -40px;
    bottom: -3px;
}

.controls__toggle--sound:hover {
    background-position-x: -110px;
}

.controls__toggle--off {
    background-position-y: -40px;
}

/* MODAL AND OPENING SPLASH */

.modal--splash {
	height: 66vh;
	width: 66vw;
	max-width: 250px;
	min-width: 185px;
	max-height: 330px;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
	background-color: #FFEAA0;
	background-image: url(../img/dimension-poke.png);
	border: 3px solid #FF891D;
	border-radius: 15px;
	box-shadow: 0 0 0 2px white, 0 0 7px 0 #222;
}

.ttt-logo {
	position: absolute;
	top: calc(50% - 30px);
	left: 50%;
	height: 130px;
	width: 130px;
	margin: -65px 0 0 -65px;
}

.ttt-logo__element {
	position: absolute;
	height: 130px;
	width: 130px;
	background-size: 734px;
	background-position-y: -25px;
	background-image: url("../img/spritesheet.png");
}

.ttt-logo__element--board {
	background-position-x: -2px;
}

.ttt-logo__element--tic {
	background-position-x: -134px;
}

.ttt-logo__element--tac {
	background-position-x: -266px;
}

.ttt-logo__element--toe {
	background-position-x: -398px;
}

.pokemon-logo {
	display: inline-block;
	position: absolute;
	top: calc(50% + 55px);
	left: 50%;
	width: 180px;
	height: 67px;
	margin: -33px 0 0 -90px;
	background-image: url("../img/spritesheet.png");
	background-size: 1037.5px;
	background-position: -2px -529px;
}

/* OAK DIALOGUE */

.modal__content {
	text-align: center;
}

.modal-text {
	font-family: 'Pathway Gothic One', Helvetica, sans-serif;
}

.char-tall {
	display: inline-block;
	position: absolute;
	top: 50%;
	height: 200px;
	margin-top: -100px;
	right: -10px;
}

.char-tall--oak {
	width: 99px;
	background-image: url("https://preview.c9users.io/dsto/tic-tac-toe/img/spritesheet.png");
	background-size: 1313px;
	background-position: -947px -45px;
}

.modal__content--oak {
	margin: 30px 100px 30px 30px;
}

.modal-text--oak {	
	text-align: center;
	min-width: 160px;
}

/* oak3 */
.name-input {
	display: block;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	box-shadow: 0 0 3px 0px lightgrey;
	width: 130px;
	margin: 0 auto;
}

.button {
	display: block;
	color: white;
	cursor: pointer;
	padding: 5px 20px;
	border-radius: 10px;
	  text-shadow:
   -1px -1px 0 #6EC637,  
    1px -1px 0 #6EC637,
    -1px 1px 0 #6EC637,
     1px 1px 0 #6EC637;
	margin: 15px auto 0 auto;
	box-shadow: 
		0 0 0 1px white,
		1px 1px 0 1px #333;
	font-size: .8em;
}

.button--green {
	background-color: #85F444;
	border: 2px solid #6EC637;
	animation-duration: 20ms;
	animation-iteration-count: 1;
}

/* oak4 */
.button--avatar {
	display: inline-block;
	background-color: #222;
	background-image: url(https://preview.c9users.io/dsto/tic-tac-toe/img/dimension-poke-grey.png);
	padding: 0;
	border-radius: 18px;
	transition: all 50ms ease;
	margin: 2px 8px;
}

.button--avatar:hover,
.button--avatar:focus {
	background-color: #6EC637;
	background-image: url(https://preview.c9users.io/dsto/tic-tac-toe/img/dimension-poke.png);
}

.button--avatar:hover > .button__avatar, 
.button--avatar:focus > .button__avatar{
		transform: scale(1.2);
}

.button__avatar {
	height: 64px;
	width: 96px;
	background-image: url(https://preview.c9users.io/dsto/tic-tac-toe/img/spritesheet.png);
	border-radius: 18px;  
	transition: transform 50ms ease;
    background-position-y: -5px;
}

.button__avatar--female {
	background-position-x: -246px;
}

.button__avatar--male {
	background-position-x: -145px;
}

/* oak6 */
.pokeball {
	cursor: pointer;
	display: inline-block;
	margin: 9px 13px;
	width: 44px;
	height: 44px;
	padding: 0px;
}

.pokeball__element {
	position: absolute;
	background-image: url(https://preview.c9users.io/dsto/tic-tac-toe/img/spritesheet.png);
	background-size: 757px;
	width: 44px;
	height: 44px;
	margin-top: -22px;
	background-position-y: -161.5px;
}

.pokeball__ball {	
	background-position-x: -2px;	
	transition: transform 300ms ease;
	z-index: 1;
}

.pokeball:hover > .pokeball__ball, 
.pokeball:focus > .pokeball__ball, 
.pokeball--focus > .pokeball__ball {
	transform: translateX(-22px) rotate(-1rad);
}

.pokeball:hover > .pokeball__pokemon, 
.pokeball:focus > .pokeball__pokemon, 
.pokeball--focus > .pokeball__pokemon {
	transform: scale(1.2) translateX(7px);
}

.pokeball__pokemon {
	transition: transform 140ms ease 100ms;
	transform-origin: left;
	z-index: 0;
}

.pokeball__pokemon--0 {
	background-position-x: -47.5px;
}

.pokeball__pokemon--1 {
	background-position-x: -230px;
}

.pokeball__pokemon--2 {
	background-position-x: -413px;
}/* end Oak dialogue */


/* bounceBtn animation to use with Animate.css */
.bounceBtn {
  -webkit-animation-name: bounceBtn;
  animation-name: bounceBtn;
  animation-duration: 250ms !important;
}

@keyframes bounceBtn {
  from, 50%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
	
	0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  33% {
    -webkit-transform: scale3d(.7, .7, .7);
    transform: scale3d(.7, .7, .7);
  }

  67% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
} /* end bounceBtn animation */


/* custom bounceOutDownCenter animation to use with Animate.css, based on bounceOutDown */
@-webkit-keyframes bounceOutDownCenter {
  20% {
    -webkit-transform: translate3d(-50%, calc(-50% + 10px), 0);
    transform: translate3d(-50%, calc(-50% + 10px), 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, calc(-50% - 20px), 0);
    transform: translate3d(-50%, calc(-50% - 20px), 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-50%, calc(-50% + 2000px), 0);
    transform: translate3d(-50%, calc(-50% + 2000px), 0);
  }
}

@keyframes bounceOutDownCenter {
  20% {
    -webkit-transform: translate3d(-50%, calc(-50% + 10px), 0);
    transform: translate3d(-50%, calc(-50% + 10px), 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, calc(-50% - 20px), 0);
    transform: translate3d(-50%, calc(-50% - 20px), 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-50%, calc(-50% + 2000px), 0);
    transform: translate3d(-50%, calc(-50% + 2000px), 0);
  }
}

.bounceOutDownCenter {
  -webkit-animation-name: bounceOutDownCenter;
  animation-name: bounceOutDownCenter;
} /* end custom bounceOutDownCenter animation */

.gamespace {
    width: 100%;
    height: 100%;
    transition: filter 700ms ease, opacity 50ms ease;
}

/* challenger buttons */

.challengers {
    display: flex;
    position: relative;
    height: calc(100vh - 122px);
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 10%;
    max-width: 540px;
    margin: 0 auto;
}

.heading--challengers {
    display: block;
    color: white;
    font-family: 'Pathway Gothic One', Helvetica, sans-serif;
    text-shadow:
   -1px -1px 0 #111,  
    1px -1px 0 #111,
    -1px 1px 0 #111,
     1px 1px 0 #111;	
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 1.5em;
    flex-basis: 100%;
}

.challengers__row {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}

.button__avatar--challenger-0 {
    background-position-x: -347px;
}

.button__avatar--challenger-1 {
    background-position-x: -448px;
}

.button__avatar--challenger-2 {
    background-position-x: -549px;
}

.button__avatar--challenger-3 {
    background-position-x: -650px;
}

.button__avatar--challenger-4 {
    background-position-x: -751px;
}

.button__avatar--challenger-5 {
    background-position-x: -852px;
}

.button__avatar--challenger-6 {
    background-position-x: -953px;
}

.button__avatar--challenger-7 {
    background-position-x: -1054px;
} /* end challenger buttons */

/* gym badges */
.screen-center {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.tray-container {
    position: fixed;
    bottom: 8px;
    left: 0px;
    right: 0px;
}

.tray {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #111;
  border-radius: 10%;
  border: 1px solid white;
  box-shadow: 0 0 0 2px black, 0 0 15px 0 black;
  width: 600px;
  max-width: 80%;  
  bottom: 5px;
  margin: 0 auto;
  padding: 2px 20px;

}

.tray__row {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 240px;
  max-width: 300px;
}

.badge {
  display: inline-block;
  position: relative;   
  height:49px;
  width:49px;
  border-radius: 50%;
}

.badge__dot {
  display: block;
  position: absolute;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+75&1+0,0+50,0+75 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 75%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 75%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  opacity: .5;
  height: 10px;
  width: 10px;
  left: 50%;
  top: 50%;
  margin: -5px -5px;
  
}

.badge__icon {
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 2px;
  height:45px;
  width: 45px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
  background: url(https://preview.c9users.io/dsto/tic-tac-toe//img/spritesheet.png) 0 0 no-repeat;
  background-size: 406px;
  background-position-y: -111px;
}

.badge__icon--0 {
  background-position-x: -1px; 
}

.badge__icon--1 {
  background-position-x: -47px; 
}

.badge__icon--2 {
  background-position-x: -93px; 
}

.badge__icon--3 {
  background-position-x: -139px; 
}

.badge__icon--4 {
  background-position-x: -185px; 
}

.badge__icon--5 {
  background-position-x: -230px; 
}

.badge__icon--6 {
  background-position-x: -276px; 
}

.badge__icon--7 {
  background-position-x: -322px; 
}

.badge__shimmer {
  display: block;
  position: inherited;

background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 23%, rgba(255,255,255,0.9) 49%, rgba(255,255,255,0.87) 54%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
  background-position: -40px -40px;
  background-repeat: no-repeat;		

	height: 150%;
	width: 150%;
}

.badge__screen {
  display: block;
  position: inherited;
  height: 49px;
  width: 49px;
  background: url(https://preview.c9users.io/dsto/tic-tac-toe//img/spritesheet.png) 0 0 no-repeat;
  background-size: 405px;
  background-position-y: -158.5px; 
}

.badge__screen--0 {
  background-position-x: -2.5px; 
}

.badge__screen--1 {
  background-position-x: -52.5px; 
}

.badge__screen--2 {
  background-position-x: -102.5px; 
}

.badge__screen--3 {
  background-position-x: -153px; 
}

.badge__screen--4 {
  background-position-x: -202.5px; 
}

.badge__screen--5 {
  background-position-x: -251.5px; 
}

.badge__screen--6 {
  background-position-x: -302px; 
}

.badge__screen--7 {
  background-position-x: -351.5px; 
}

.badge__icon--big{
    transform: scale(3.6);
}

.badge__icon--hang {  
  animation: hang 3s ease-in-out infinite;
}

.badge__icon--big:hover, .badge__icon--big:focus {
  cursor: grab;
  /*
  transition: transform 500ms ease;
  transform: translateZ(0) scale(1.4); 
  */
  animation: scale 70ms ease;
}

.badge__icon--big:active {
  cursor: grabbing;
  transition: all 50ms ease-in;
}

@keyframes hang {
  0%, 100% {transform: translate3d(0, -8px, 0) scale(3.6)}
  50% {transform: translate3d(0, 8px, 0) scale(3.6)}
}

@keyframes scale {
  from {transform: scale(3.6)}
  to {transform: scale(4.5)}
} /* end gym badges */

/* UTILITY CLASSES */

.u-grey-bg {
    background: #222;
}

.u-blurred {
    filter: blur(80px);
    opacity: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.u-hidden {
    display: none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.u-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.u-visuallyhidden.focusable:active,
.u-visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.u-invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.u-clearfix:before,
.u-clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.u-clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
